{% extends 'base.html' %}

{% block title %} {{ group.title }} {% endblock %}  

{% block content %}
  <div class="container py-3">
    <h1>{{ group.title }}</h1>
    <p>{{ group.description|linebreaksbr }}</p>
    {% for post in page_obj %}
      <ul>
        <li>
          Автор:
          <a href="{% url 'posts:profile' post.author.username %}"
          >{{ post.author.get_full_name }}</a>
        </li>
        <li>
          Дата публикации: {{ post.pub_date|date:"d E Y" }}
        </li>
      </ul>      
      <p>{{ post.text|linebreaksbr }}</p>
      {% if not forloop.last %}
        <hr>
      {% endif %}
    {% endfor %}
    
    {% include 'includes/paginator.html' %}

  </div>
{% endblock %}